
.Recipe__details{
  padding: 20px;
  padding-top: 70px;
  max-width: 600px;
  overflow: auto;
}
.Recipe__details ul {
  padding-left: 0;
}

.Recipe__details ul li{
  list-style: none;
}
.Recipe__details ol li{
  text-align: left;
}