.addRecipePage {
    text-align: center;
}

.AddRecipeForm__ingredient_amount{
    width: 33%;
    display:inline-block;
}
.AddRecipeForm__ingredient_name{
    width: 66%;
    display:inline-block;
    margin-left:1%;
}
.addRecipePage h3{
    margin-bottom:0;
}
.addRecipePage li {
    padding: 4px 0;
}
.addRecipePage div li div{
    float: right;
    padding: 2px 4px;
    text-align: center;
    cursor: pointer;
    color: grey;
    border: 1px solid grey;
    margin-left: 10px;
    font-size:12px;
}
.addRecipePage div li div:hover{
    background-color: whitesmoke;
    color: black;
}