.landingPageMain {
  text-align: center;
}
.landingPageMain .appDescrip img{
  max-width:34px;
  vertical-align: sub;
  margin-right: 8px;
}
.landingPageMain .appDescrip h1{
  font-size:30px;
  font-weight: 500;
  margin:0;
  color: #970014;
  display: inline-block;
}
.landingPageMain .appDescrip p{
  font-size:18px;
  font-weight: 500;
  margin-top:10px;
}
.landingPageMain .appDescrip .whyThisAppRocks{
  display:flex;
  list-style-type: none;
  justify-content: center;
  margin-top:30px;
  color: #970014;
  font-weight: 600;
  padding-left: 0;
}
.landingPageMain .appDescrip .whyThisAppRocks li{
  margin:0 20px;
}
.landingPageMain .appDescrip .whyThisAppRocks .icon{
  font-size:24px;
  margin-bottom: 10px;
}
section:first-of-type {
  padding: 50px 30px;
}
section {
  padding: 10px 30px;
}
.landingPageMain form{
  display: inline-block;
  text-align: left;
}

.landingPageMain form input, .landingPageMain form button{
  width:100%;
  border: 1px solid grey;
  padding: 8px;
  margin-bottom: 5px;
}
.landingPageMain form button{
  display: block;
  background-color: #970014;
  padding: 10px;
  margin: 6px auto;
  border:none;
  color:white;
  font-size: 18px;
  font-family: 'Quicksand';
  font-weight: 700;
  
}
.landingPageMain form button:hover{
  background-color: #66000e;
}

.landingPageMain .registerBtn{
  padding: 8px 16px;
  display: inline-block;
  margin-top: 20px;
  text-decoration: none;
  color: #970014;
  font-weight: 600;
  border: 1px solid #970014;
}

.landingPageMain .registerBtn:hover{
  color: white;
  background-color: #970014;
}
.landingPageMain .registerBtn .icon{
  margin-left:5px;
}
.login-form legend{
  font-size:18px;
  font-weight: 500;
  color: #970014;
}
.demoUserCredentials p{
  margin:0;
}
.demoUserCredentials p:first-of-type{
  margin:10px;
}
.demoUserCredentials{
  padding-bottom: 40px;
}



