nav.mainNav{
  width:100%;
  background-color: #970014;
  padding: 20px 10px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  bottom: 0;
}
nav .navBtnCont{
  text-align: center;
}

nav a{
  padding:0 5px;
  text-decoration: none;
  font-weight: 600;
  color: white;
  display: block;
  cursor: pointer;
}

